button {
  border-color: #db5f4d;
  color: #db5f4d;
  text-align: center;
  background-color: #ededed;
}

button:focus {
   outline: none !important;
   box-shadow: none;
}

body {
  margin-top: 100px !important;
}

.wrapper {
  text-align: center;
  /*margin: 10px;*/
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.scale-button {
	margin-bottom: 10px;
}

@media (max-width: 700px) {
   /* PUT CSS HERE TO ALTER WEBSITE TO SINGLE COLUMN */
}